
<h2>Edit Task:</h2>
<br>
<form action="/tasks/<%=@task.id%>" method="POST">
<input id="hidden" type="hidden" name="_method" value="PATCH">
  <label for="task_name">Name:</label><br>
  <input type="text" name="task[name]" value="<%= @task.name %>"><br>
  <label for="task_content">Content:</label><br>
  <input type="text" name="task[content]" value="<%= @task.content %>"><br>
  <input type="submit" value="Update Task">
</form>
<br>
<br>
  <form action="/tasks/<%=@task.id%>/delete" method="POST">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Task">
  </form>
<br>
<a class="button" href="/tasks">TaskList</a><br>
<a href="/logout">Log Out</a>
