
<h2>Create New Task:</h2>
<br>
<form method="POST" action="/tasks">
  <label for="task_name">Name:</label><br>
  <input type="text" name="tasks[name]"/><br><br>
  <label for="task_content">Content:</label><br>
  <input type="text" name="task[content]"/><br><br>
  <input type="submit" value="Add to Tasklist">
</form>
<br>
<a class="button" href="/tasks">Back to TaskList</a><br>
<a class="button" href="/logout">Log Out</a>
