<!--<h1>New Task for <%= @project.tite %></h1>
<!00<h1>New Task for <%= @project.tite %></h1>

<form action = "/tasks/new/<%= @project.id %>" method = "POST">
  <input type = "text" name = "name" placeholder = "Task name">
  <input class = "btn btn-primary" type = "submit" name = "create" value = "Create">
</form> -->
