<h1>Tasklist</h1>
<p> Here is your Tasklist, <%= @user.username %></p>
<h3>tasks</h3>
<% current_user.tasks.each do |task| %>
  <ul>
    <li><a href="/tasks/<%=task.id%>"><%= task.name %> - <%= task.content %></a></li>
  </ul>
<% end %>
<br>
<a href="/tasks/new">Add New Task</a><br>
<a href="/logout">Log Out</a>
