<h1>signup!</h1>
<br>
<h2>Sign Up Here:</h2>
<form action="/users/signup" method="POST">
  <p>Username: <input type="text" name="username" required></p>
  <p>Email: <input type="text" name="email" required></p>
  <p>Password: <input type="text" name="password" required></p>
  <input type="submit" value="Sign Up">
</form>
