<h2>Create a new Project:</h2>
<br>
<form method="POST" action="/projects">
  <label for="title">Title:</label><br>
  <input type="text" name="project[title]"/><br><br>
  <label for="about">About:</label><br>
  <input type="text" name="project[about]"/><br><br>
  <input type="submit" value="Add update to ProjectList">
</form>
<br>
<a class="button" href="/project/projects">Back to My ProjectList</a><br>
<a class="button" href="/logout">Log Out</a>
