<!--<h1>New project</h1>

<form method = "POST" action = "/project/new">
  <input type = "text" name = "projects[name]" placeholder = "Project Title"><br><br>
  <input type = "text" name = "projects[about]" placeholder = "Description"><br><br>
  <input type = "text" name = "tasks[name]" placeholder = "New Task"><br><br>
  <input type = "text" name = "tasks[content]" placeholder = "Comments"><br><br>
  <input class = "btn btn-primary" type = "submit" name = "Create" value = "Create">
</form> -->
