<h1>Login</h1>
<br>
<form action="/user/login" method="POST">
  <input type="text" name="username" placeholder="Username:">
  <input type="text" name="password" placeholder="Password:">
  <input type="submit" value="Login">
</form>
<br>
<h3>signup here!</h3>
<form action="/user/signup" method="GET">
  <input type="submit" value="Signup">
</form>
