<h1>Login</h1>
<br>
<form action="/user/login" method="POST">
  <div class = "form-group">
    <label for= "username">UserName:</label>
      <input type="text" name="username" placeholder="Username:"><br>
  </div>
  <div class = "form-group">
    <label for = "password"> Password:</label>
      <input type="text" name="password" placeholder="Password:">
  </div>
  <input class = "btn btn-primary"  type="submit" name = "submit" value="Log in">
</form>
<br>
<h3>signup here!</h3>
<form action="/user/signup" method="GET">
  <input class = "btn btn-primary" type="submit" name = "submit" value="Signup">
</form>
