
<h1>Welcome to Taskmaster!</h1>
<br>
<p> A place where users can store tasks and update statuses about their team projects</p>
<br>
<h2>Please login or signup below:</h2>
<a href="/user/login">Login</a>
<br><br>
<a href="/user/signup">Create New Account</a>
