<!DOCTYPE html>
<html>
  <head>
    <title>Project Map</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>
<body>
    <nav class = "navbar navbar-default">
      <div class = "container-fluid">
        <div class = "navbar-header">
          <a class = "navbar-brand" href = "/tasks">Project Master</a>
          <ul class = "nav navbar-nav">
      <% if logged_in? %>
        <li><a href = "/project/new">Create New Project</a></li>
        <li><a href = "/tasks/new">Create New Task</a></li>
        <li><a href = "/logout">Log Out</a></li>
      <% else %>
        <li><a href = "/user/login">Log In</a></li>
        <li><a href = "/user/signup">Sign Up</a></li>
      <% end %>
      </ul>
    </div>
  </div>
</nav>
<div class = "col-md-6 col-xs-offset-2">

  <%= yield %>

</div>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
